<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <strong>SMA Negeri 1 Parmaksian</strong><br>
    Jl. Pendidikan No.1, Parmaksian, Toba, Sumatera Utara<br>
    &copy; 2026 SMA N 1 Parmaksian. All rights reserved.
    <br><br>
    <a th:href="@{/login}"
       style="font-size:11px;color:rgba(255,255,255,0.25);text-decoration:none;
              border-bottom:1px dotted rgba(255,255,255,0.15);">
        Portal Admin
    </a>
</footer>
</body>
</html>