<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login - SMA N 1 PARMAKSIAN</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">

        <div class="logo">
            SMA N 1 PARMAKSIAN
        </div>

        <div class="menu">

            <a th:href="@{/}">
                Home
            </a>

            <a th:href="@{/profil}">
                Profil
                       </a>

            <a th:href="@{/informasi}">
                Informasi
            </a>

            <a th:href="@{/galeri}">
                Galeri
            </a>

            <a th:href="@{/login}">
                Login
            </a>

        </div>

    </nav>

    <!-- LOGIN -->

    <section class="section">

        <div class="login-box">

            <h2>
                Login Admin
            </h2>

            <form>

                <input type="text"
                       placeholder="Username"
                       class="input">

                <input type="password"
                       placeholder="Password"
                       class="input">

                <button type="submit"
                        class="btn">

                    Login

                </button>

            </form>

            <div class="register-link">

                Belum punya akun?

                <a th:href="@{/register}">
                    Register
                </a>

            </div>

        </div>

    </section>

</body>

</html>