<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Register - SMA N 1 PARMAKSIAN</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

    <nav class="navbar">

        <div class="logo">
            SMA N 1 PARMAKSIAN
        </div>

    </nav>

    <section class="section">

        <div class="login-box">

            <h2>
                Register Akun
            </h2>

            <form>

                <input type="text"
                       placeholder="Nama Lengkap"
                       class="input">

                <input type="text"
                       placeholder="Username"
                       class="input">

                <input type="password"
                       placeholder="Password"
                       class="input">

                <button type="submit"
                        class="btn">

                    Register

                </button>

            </form>

        </div>

    </section>

</body>

</html>